.edit-form {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.edit-input,
.edit-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 17px;
    display: block;
    margin-top: 10px;
}

.edit-textarea {
    resize: none;
}

.edit-btn {
    background-color: #ebf5ff;
    color: #015fc7;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}
.edit-btn:hover {
    background-color: #dfe9f2;
}
.edit-textarea {
    height: 80px;
    resize: vertical;
}

.edit-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    min-height: 20px;
}

.edit-header {
    margin: 0 auto;
}

.close-edit-form {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.close-edit-form-button:hover {
    cursor: pointer;
}

.close-edit-form-button {
    border: none;
    background-color: white;
}

#bio {
    resize: none;
}

.bio-edit {
    margin-left: -10px ;
    margin-right: 10px;
}

#bio-label {
    margin-left: 10px;
}



