.header-container {
    margin: 0 auto;
    width: 100%;
    max-height: 699px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 55px;
    border: 2px solid black;
    background: linear-gradient(to bottom, #544c47, white 55%);
}

.cover-photo-container {
    width: 87.5%;
    height: 461px;
    border: 2px solid red;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cover-photo {
    width: 100%;
    height: 100%;
    background-color: #e9ebee; /* A placeholder background color */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.user-info-container {
    display: flex;
    width: 87.5%;
    height: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 75px; 
    border: 2px solid black;
}

.profile-photo {
    width: 172px;
    height: 171px;
    border-radius: 50%;
    background-color: #e9ebee; 
    border: 5px solid #fff;
    margin-left: 33px;
    margin-top: -171px;
    z-index: 2;
}

.editProfile {
    margin-left: auto;
    margin-right: 17px;
    margin-bottom: 28px;
}

.editProfile button {
    font-size: 15px;
    padding: 10px 13px;
    width: 123px;
    max-height: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    cursor: pointer;
    border: none;
    background-color: #e4e6ea;
    color: #050505;
    border-radius: 6px;
    font-weight: 550; 
}

.users-name {
    font-size: 31px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 650;
    margin-left: 20px;
    position: relative;
    bottom: 53px;
    letter-spacing: 0.5px;
}

.tabs {
    max-height: 61px;
    width: 82.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid blue;
    padding-top: 41px;
    border-top: 1px solid gray;
}

.tab-options {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-left: 15px;
    position: relative;
    bottom: 19px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.25px;
    color: #65676b
}
