html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    min-height: calc(100vh - 100px + 100px);  /* Subtracting 50% of the footer height from the viewport height. */
    box-sizing: border-box;
    overflow-y: scroll; 
 
}

.credentials {
    width: 100%;
    padding: 16px 13px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


#login {
    width: 100%;
    padding: 10px;
    background-color: #1877f2; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 14px;
    font-weight: bold;
}


#create-new-account {
    width: 60%;
    padding: 15px 10px 15px 10px;
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 550;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}


#demo-login {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    border-bottom: #DADADA solid 1px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #1877f2; 
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

#demo-login:hover {
    text-decoration: underline;
}

.create-button {
    display: flex;
    justify-content: center;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-page {
    display: flex;
    flex-direction: column;  /* Column direction for login-content + footer arrangement */
    min-height: 100vh;
    background-color: #f0f2f5;
    overflow-y: auto;
}


.login-content {
    flex-grow: 2; /* this will allow the login-content to grow as required, but initially it takes just the required space */
    display: flex;  
    justify-content: center;  /* Centers the children horizontally */
    align-items: center;  /* Centers the children vertically */
    gap: 60px;  /* Adds some space between login-left and login-right */
    max-width: 1000px;  /* Set a max-width to control the proximity to center */
    margin: 0 auto;  /* Horizontally center the container */
    height: 710px;
    flex-wrap: wrap;
}

.login-left {
    flex: 0.5;
    display: flex;
    flex-direction: column;

    align-items: start;
    padding: 0 40px;
}

.fb-logo {
    font-size: 55px; 
    color: #1877f2;
    font-weight: bold;   
}

.fb-connect-text {
    font-size: 24px;  /* Adjusted size */
    color: #1d2129;  /* Darker color used by Facebook for this text */
    font-weight: normal;
    width: 400px;
    line-height: 1.4;  /* Improved readability */
    max-width: 480px;  /* Controls the text width for better layout */
    font-weight: 500;
    line-height: 32px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.login-right {
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.login-form {
    width: 100%; 
    min-width: 396px;
    max-width: 430px;
    height: 350px;
    padding: 15px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    background-color: white;
}

.footer {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}

.footer-content{
    width: 65.5%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.languages {
    border-bottom: #DADADA solid 1px;
    color: #8a8d91;
    font-size: 12px;
    line-height: 2.0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    padding-bottom: 10px; 
}

.external-links {
    color: #8a8d91;
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    padding-bottom: 10px; 
}

.copyright {
     color: #8a8d91;
    font-size: 12.5px;
    margin-top: 10px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.login-email {
    font-family: Helvetica, Arial, sans-serif;
}


.external-links:hover {
    cursor: pointer;
    text-decoration: underline;
}