.splash-container {
    display: flex;
    margin-top: 64px;
    gap: 15px;
}

.filler1, .filler2 {
    width: 50%;
    border: 1px solid red;
    margin-top: 80px;
}

.filler1 {
    margin-left: 10px;
    margin-top: -16px;
    position: sticky ;
}

.filler2 {
    margin-right: 10px;
}